.__kui__fallback__block {
    background: var(--kui-secondary);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.__kui__fallback__block::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -100px;
    top: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(to right, transparent 0%, var(--kui-primaryOpaque) 50%, transparent 100%);
    transition: 0.4s;
    animation: __kui__lazyload 1s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes __kui__lazyload {
    from {
        left: -100px;
    }

    to {
        left: 100%;
    }
}