.__kui__screen__handler__screen {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100vw);
    transition: 0.1s ease-in-out;
}

.__kui__screen__handler__screen__ready {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}