.ripple {
    position: relative;
    overflow: hidden;
}

.__kui__ripple__circle {
    --aW: 500px;
    content: '';
    position: absolute;
    width: var(--aW);
    height: var(--aW);
    border-radius: 50%;
    animation: __kui__ripple__animation 0.7s;
    opacity: 0;
    transition: 0.2s;
    background: var(--kui-primaryFont);
}

@keyframes __kui__ripple__animation {
    0% {
        transform: scale(0);
        opacity: 0.25;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}